# Required Libraries for Gesture-Controlled Robotic Arm Project

# WiFi library for ESP32
WiFi.h

# MQTT Client library
PubSubClient.h

# I2C library
Wire.h

# MPU6050 library for motion sensors
MPU6050.h

# PWM Servo Driver library
Adafruit_PWMServoDriver.h

# AccelStepper library for controlling stepper motors
AccelStepper.h
